.sidebar {
    width: 280px;
    position: fixed;
    height: 100vh;
}

.main-content {
    padding-left: 280px;
}

.navbar-breadcrumb-pos-y {
    position: absolute;
    top: 16px;
}
.navbar-breadcrumb-pos-x{
    left: 285px;
}

.form-auth{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-change-password{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link.active {
    color: white !important;
}